@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid rgba(180, 180, 180, 0.6);
  border-top-color: rgba(0, 0, 0, 0.6);
  animation: spinner 0.6s linear infinite;
}

.daterange-picker { 
  margin-top: 10px;
}

.daterangepicker-container {
  margin-bottom: 0px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  display:inline-block;
  padding:5px;
}

.sort {
  padding: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #006547;
  height:30px;
  cursor: pointer;
  margin-right: 10px;
}

.sort-buttons {
  padding: 15px;
  display: flex;
}