/**
 * @file
 * Styles for Making the off-canvas tray look like Claro.
 * Comes from lb_claro module.
 */

/**
 * This file is a work-around for two core issues with the off-canvas display
 * have yet to be resolves:
 * - #2952390
 *   Ckeditor doesn't work with off-canvas because of an agressive reset. The
 *   idea was that a reset would mean that the off-canvas styles wouldn't be
 *   impacted by anything that theme developers may do. So instead we have
 *   removed the reset file (see module info file), while that issue gets
 *   sorted out. We're probably fine doing this because a) we can test the
 *   off canvas stuff with our theme and b) our general componentised approach
 *   should limit of the risk of interference. We can always revert this
 *   approach if core resolves this, but our own form styles may also work fine
 *   in the off-canvas display. In the meantime we can also add a few styles
 *   which clean up elements of entity forms in the off-canvas display, which
 *   may not be fixed in core on contrib out of the box.
 * - #2951547
 *   This issue is dealing with the fact the off-canvas display is way too
 *   narrow. In the meantime, css works well enough to widen it, and doesn't
 *   require any patches.
 */

.ui-dialog.ui-dialog-off-canvas {
  background-color: #222;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: .875rem;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  background-color: #111;
  position: relative;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  font-family: inherit;
  float: none;
  font-weight: 600;
}

/* Remove filter tips, they seem to clutter the off-canvas display. */
.ui-dialog-off-canvas .filter-wrapper {
  display: none;
}

/**
 * Pull in select elements from off-canvas.base.css, which are essential to
 * the dark appearance.
 */
.ui-dialog-off-canvas a,
.ui-dialog-off-canvas .link {
  text-decoration: none;
  color: #85bef4;
}

.ui-dialog-off-canvas a:focus,
.ui-dialog-off-canvas .link:focus {
  color: #85bef4;
}

.ui-dialog-off-canvas ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

#drupal-off-canvas .ui-widget-content a {
  color: #222330;
}

.ui-dialog-off-canvas h1,
.ui-dialog-off-canvas h2,
.ui-dialog-off-canvas h3,
.ui-dialog-off-canvas h4,
.ui-dialog-off-canvas legend {
  color: #ddd;
}

#drupal-off-canvas .inline-block-create-button {
  margin-bottom: 1rem;
  font-weight: bold;
}

#drupal-off-canvas .inline-block-list__item {
  background-color: inherit;
}

/**
 * Override some of Stable theme's off-canvas.form.css
 * to get it closer to Claro styling.
 */

#drupal-off-canvas form {
  font-family: inherit;
  font-size: inherit;
}

#drupal-off-canvas label {
  font-size: inherit;
}

#drupal-off-canvas input[type="text"],
#drupal-off-canvas input[type="date"],
#drupal-off-canvas input[type="search"],
#drupal-off-canvas input[type="file"],
#drupal-off-canvas input[type="email"],
#drupal-off-canvas input[type="tel"],
#drupal-off-canvas input[type="number"],
#drupal-off-canvas input[type="time"],
#drupal-off-canvas select,
#drupal-off-canvas textarea {
  background-color: #fff;
  color: #222330;
}

#drupal-off-canvas .button {
  color: #222330;
}

#drupal-off-canvas .button--primary {
  color: #fff;
}

#drupal-off-canvas summary,
#drupal-off-canvas .form__item {
  margin-bottom: 1rem;
}

#drupal-off-canvas .container-inline > div {
  display: inline-block;
}

#drupal-off-canvas fieldset {
  margin: 0 -20px;
  padding: 0 20px;
  border-width: 0;
}

#drupal-off-canvas legend {
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: inherit;
  font-family: inherit;
}

#drupal-off-canvas legend span {
  font-size: inherit;
  font-family: inherit;
}

#drupal-off-canvas button,
#drupal-off-canvas .button {
  font-family: inherit;
}

/* Simplify details */
#drupal-off-canvas details,
#drupal-off-canvas summary,
#drupal-off-canvas .ui-dialog-content {
  font-family: inherit;
  background-color: inherit;
}

#drupal-off-canvas summary {
  font-weight: bold;
}

/**
 * Reset the width of buttons, full width is not appropriate for a wide
 * off canvas display.
 */
.ui-dialog-off-canvas #drupal-off-canvas input[type="submit"].button {
  width: auto;
}

.ui-dialog-off-canvas table.field-multiple-table {
  width: 100%;
}

.ui-dialog-off-canvas table,
.ui-dialog-off-canvas table td,
.ui-dialog-off-canvas table th {
  background: transparent !important;
  border: 0;
}

.ui-dialog-off-canvas table th .label {
  margin: 0;
  text-align: left;
}

.ui-dialog-off-canvas table .paragraphs-dropbutton-wrapper .button {
  min-width: auto;
  padding: 0.375rem 0.75rem;
  font-size: 0.889rem;
  margin: 0;
}

/* Fix dropbuttons */
#drupal-off-canvas span.dropbutton-arrow {
  top: 8px;
  right: 10px;
}

#drupal-off-canvas .dropbutton-widget,
#drupal-off-canvas td .dropbutton-widget {
  background: #003cc5;
}

#drupal-off-canvas td .dropbutton-widget {
  right: 0;
}

#drupal-off-canvas .dropbutton-multiple .dropbutton-widget:hover,
#drupal-off-canvas .dropbutton-widget:hover {
  background-color: #0036b1;
}

#drupal-off-canvas .dropbutton-action > .js-form-submit.form-submit,
#drupal-off-canvas .dropbutton-toggle button {
  background: transparent;
  color: inherit;
  box-shadow: none;
  padding: 0.375rem 0.75rem;
  font-size: 0.889rem;
}

/* Make sure .link isn't effected by themes */
#drupal-off-canvas .link {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  color: #85bef4;
}

/* Fix ajax throbber */
#drupal-off-canvas .ajax-progress-throbber {
  background-image: url('../images/spinner-ltr.gif');
  background-color: #fff;
}

[dir="rtl"] #drupal-off-canvas .ajax-progress-throbber {
  background-image: url('../images/spinner-rtl.gif');
}


/* Forms */

#drupal-off-canvas form {
  color: #ddd;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
}
#drupal-off-canvas input[type="checkbox"] {
  -webkit-appearance: checkbox;
}
#drupal-off-canvas input[type="radio"] {
  -webkit-appearance: radio;
}
#drupal-off-canvas option {
  display: block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "liberation sans", sans-serif;
}
#drupal-off-canvas label {
  color: #ddd;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
}
#drupal-off-canvas .visually-hidden {
  width: 0;
  height: 0;
  letter-spacing: -2em;
  opacity: 0;
}
#drupal-off-canvas .description,
#drupal-off-canvas .form-item .description,
#drupal-off-canvas .details-description {
  margin-top: 5px;
  color: #ddd;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
}
#drupal-off-canvas .form-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
