// Utility classes.

// Display.
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

// Width.
.w-50 {
  width: 50%;
  flex: 0 0 50%;
}

// Spacing.
$spacers: (
  0: 0,
  1: 1rem,
);

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
    .#{$abbrev}t-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}

.button:hover {
  a {
    color: var(--colorGinButtonText);
  }
}

div[id^="monthpicker_"] {
  background-color: white;
}
