// Off-canvas overrides.

.ui-widget.ui-dialog.ui-dialog-off-canvas {
  background-color: transparent;

  .ui-dialog-titlebar {
    background: var(--colorGinGreenBackground);
  }

  #drupal-off-canvas {
    tr:hover td {
      background: unset;
    }

    input[type="submit"].button--primary {
      background: var(--colorGinPrimary);

      &:hover {
        background: var(--colorGinPrimaryHover);
      }
    }
  }

  // Forms.
  .form-type--boolean .form-boolean {
    margin: 0 .25rem 0 0;
  }

  .button:disabled:hover {
    background-color: #ebebed;
    color: var(--colorGinDisabled);
    cursor: default;
  }
}

