// Counteract Gin theme bug where drop buttons in views tables are partially
// invisible because of overflow: hidden on the table cell.
.view table.views-table td.views-field-operations {
  overflow-y: visible;
}

// Popups have no content currently so we can make the iframe smaller.
.farm-map .ol-popup iframe {
  height: 20px;
  min-height: 20px;
}

// Layout builder layouts.
@media (min-width: 40em) {
  .layout--twocol-section--50-50 {
    > .layout__region--first {
      flex: 0 1 calc(50% - 1em) !important;
      margin-right: 1em
    }
    > .layout__region--second {
      flex: 0 1 calc(50% - 1em) !important;
      margin-left: 1em
    }
  }
}

// Plan maps gallery.
.plan-gallery {
  img {
    max-height: 58vh;
    width: auto;
  }
  .field--name-field-media-image {
    text-align: center;
  }
  .field--name-name {
    font-weight: var(--gin-font-weight-bold);
    font-size: var(--gin-font-size-l);
    margin-bottom: var(--gin-spacing-xs);
  }
}

// Asset pages.
.asset > .layout > .layout__region {
  & > .block {
    margin-bottom: 2rem;
  }
}

.map-with-datepicker {
  .daterange-picker-help {
    font-weight: bold;
    font-size: .8rem;
  }
}
