// Counteract Gin theme bug where drop buttons in views tables are partially
// invisible because of overflow: hidden on the table cell.
.view table.views-table td.views-field-operations {
  overflow-y: visible;
}

// Popups have no content currently so we can make the iframe smaller.
.farm-map .ol-popup iframe {
  height: 20px;
  min-height: 20px;
}
